################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DeepMavawala.BookStore/.vs/DeepMavawala.BookStore
/DeepMavawala.BookStore/DeepMavawala.BookStore/bin/Debug/net6.0
/DeepMavawala.BookStore/DeepMavawala.BookStore/obj
