@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <h1>Welcome To BookStore Application</h1>
    <p>This is About Us Page of Book Store Application</p>
</body>
</html>
