@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link href="~/css/site.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <img src="~/images/oppo.png" class="size" alt="oppo" />
        <input type="submit" value="Click Me" class="btn btn-danger" />
        <h1 class="h1">Welcome To BookStore Application</h1>
        <p>This is Home Page of Book Store Application</p>
    </body>
</html>
